{# src/Pcd/BlogBundle/Resources/views/Services/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Nos Services - {{ parent() }}
{% endblock %}
 
{% block body %}
  <p>
      Nous vous proposons nos services dans différents domaine :
  </p>
  
  <div class="gauche">
      <h1>Dépannage à distance</h1>
      <p>
          Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
          amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui.
          Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue
          urna sit amet tellus malesuada nec elementum risus molestie. Donec gravida
          tellus sed tortor adipiscing fringilla. Donec nulla mauris, mollis egestas
          condimentum laoreet, lacinia vel lorem. Morbi vitae justo sit amet felis
          vehicula commodo a placerat lacus. Mauris at est elit, nec vehicula urna. Duis a
          lacus nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae.
      </p>
  </div>
  
  <div class="droite">
      <h1>Formation</h1>
      <p>
          ...Projet en cours de construction...
      </p>
  </div>
  
  <div class="centre">
      <h1>Dépannage ponctuel</h1>
      <p>
          Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
          amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui.
          Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue
          urna sit amet tellus malesuada nec elementum risus molestie. Donec gravida
          tellus sed tortor adipiscing fringilla. Donec nulla mauris, mollis egestas
          condimentum laoreet, lacinia vel lorem. Morbi vitae justo sit amet felis
          vehicula commodo a placerat lacus. Mauris at est elit, nec vehicula urna. Duis a
          lacus nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae.
      </p>
  </div>
  
  <div class="link_gauche"><a href="" class="link_gauche">Plus d'infos</a></div>
  <div class="link_droite"><a href="" class="link_droite">Plus d'infos</a></div>
  <div class="link_centre"><a href="" class="link_centre">Plus d'infos</a></div>
{% endblock %}

